<ion-header size="large" class="ion-text-center ion-no-border">
  <ion-toolbar color="primary" class="my-toolbar">
    <ion-icon slot="start" src="./assets/icon/book.svg"> </ion-icon>
    Cheat Sheet
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"
        ><ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/vampire.png" alt="your image" />
      </ion-avatar>
      <ion-label> Avuçla 1 kez </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/vampire.png" alt="your image" />
      </ion-avatar>
      <ion-label> Susturucuya avuçla 2 kez</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/knife.png" alt="your image" />
      </ion-avatar>
      <ion-label> Seri Katile avuçla 3 kez</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/joker.png" alt="your image" />
      </ion-avatar>
      <ion-label> Jester'a avuçla 4 kez </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/wizard.png" alt="your image" />
      </ion-avatar>
      <ion-label> Büyücüye 1 kez </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/musket.png" alt="your image" />
      </ion-avatar>
      <ion-label> Vigi'ye 2 kez </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/mover-truck.png" alt="your image" />
      </ion-avatar>
      <ion-label> Transporter'a 3 kez </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="./assets/icon/binoculars.png" alt="your image" />
      </ion-avatar>
      <ion-label> Spy'a 4 kez </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
