<ion-header size="large" class="ion-text-center ion-no-border">
  <ion-toolbar color="primary" class="my-toolbar">
    <ion-icon slot="start" src="./assets/icon/crown.svg"></ion-icon>

    King's Dashboard

    <ion-icon slot="end" src="./assets/icon/crown.svg"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-grid>
      <ion-row class="Row">
        <ion-col size="12" offset="0">
          <ion-label color="primary" class="my-label"> Squad: </ion-label>
          <ion-label
            color="primary"
            class="my-label"
            *ngFor="let item of squad"
          >
            <ion-text>{{item}}, </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="Row">
        <ion-col size="12" offset="0">
          <ion-label color="medium" class="my-label"> King: </ion-label>
          <ion-label color="medium" class="my-label">
            <ion-icon src="./assets/icon/crown.svg" *ngIf="king"></ion-icon>
            <ion-text>{{king}} </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="Row">
        <ion-col>
          <ion-label color="danger" class="my-label"> Vampires: </ion-label>
          <ion-label
            color="danger"
            class="my-label"
            *ngFor="let item of vampires"
          >
            <ion-icon src="/assets/icon/vampire.svg"></ion-icon>
            <ion-text>{{item}}, </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="Row">
        <ion-col>
          <ion-label color="warning" class="my-label"> Neutrals: </ion-label>

          <ion-label
            class="my-label"
            *ngFor="let item of neutrals; let i = index"
          >
            <ion-icon
              slot="start"
              [src]="neutralIcons[i]"
              *ngIf="neutralIcons[i]"
            ></ion-icon>
            <ion-text color="warning">{{item}}, </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="Row">
        <ion-col>
          <ion-label color="success" class="my-label"> Peasants: </ion-label>

          <ion-label
            class="my-label"
            *ngFor="let item of peasants; let i = index"
          >
            <ion-icon
              slot="start"
              [src]="peasantIcons[i]"
              *ngIf="peasantIcons[i]"
            ></ion-icon>

            <ion-text color="success"> {{item}}, </ion-text>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-button expand="block" color="primary" (click)="addToSquad()">
        <ion-icon slot="start" src="./assets/icon/group.svg"></ion-icon>
        +Squad
      </ion-button>

      <ion-button expand="block" color="medium" (click)="drawKing()">
        <ion-icon slot="start" src="./assets/icon/crown.svg"></ion-icon>
        +King
      </ion-button>
      <ion-button expand="block" color="danger" (click)="drawPlayer(vampires)">
        <ion-icon slot="start" src="./assets/icon/vampire.svg"></ion-icon>
        +Vampire
      </ion-button>

      <ion-button expand="block" color="warning" (click)="drawPlayer(neutrals)">
        <ion-icon slot="start" src="./assets/icon/wizard.svg"></ion-icon>
        +Neutral
      </ion-button>
      <ion-button expand="block" color="success" (click)="drawPlayer(peasants)">
        <ion-icon slot="start" src="./assets/icon/farmer.svg"></ion-icon>
        +Peasant
      </ion-button>

      <!-- Round -->
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-button shape="round" (click)="restartGame()">
            <ion-icon name="refresh-outline"></ion-icon>
            Restart</ion-button
          > </ion-col
        ><ion-col>
          <ion-button shape="round" (click)="showSquadModal()">
            <ion-icon slot="start" src="./assets/icon/group.svg"> </ion-icon>
            Squad List</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-margin ion-text-center">
        <ion-col>
          <ion-button shape="round" (click)="showCheatSheet()">
            <ion-icon slot="start" src="./assets/icon/book.svg"> </ion-icon>
            Touch List</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
